extends ../layout/layout.pug
block vars
	- var title = 'Главная';
block content
	include ../includes/content-main.pug
	
  
              
block scripts
	script(src="js/common.js" type="text/javascript" defer)